#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  overflow-x: clip;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ---------------------------------------------------- */

.app-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mobile {
  flex-direction: column;
  align-items: center;
}

.controls-wrapper-parent {
  max-width: 450px;
}

.intro-wrapper {
  position: absolute;
  max-width: 1200px;
  left: 3%;
  right: 3%;
  margin-left: auto;
  margin-right: auto;
  top: 3%;
}

.title {
  text-align: left;
  font-size: 24px;
}

.intro-text {
  /* padding: 15% 10% 5%; */
  padding: 5%;
}

.left-align {
  text-align: left;
}

.viz-svg-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: lightsteelblue; */
  text-align: left;
  pointer-events: none;
}

.tool-name {
  top: 15px;
  left: 7px;
  padding: 1px 5px;
  border-radius: 1px;
}

.tool-info {
  top: 45px;
  left: 7px;
  font-size: 14px;
  width: 200px;
}

.tooltip-ring {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 1px 5px;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  margin-left: 10px;
}

.button-group {
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding-bottom: 8px;
}

.button-group p {
  margin: -14px 8px 8px;
  background-color: #242424;
  width: fit-content;
}

.button-group div {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 10px;
  padding: 6px;
}

.button-group button {
  padding: 5px 8px;
  font-size: 14px;
  background-color: #5d6163;
  color: #ffffff;
}

.button-group button:hover {
  background-color: #b3b3b3;
  color: #242424;
  /* border-color: #999999; */
}

.button-group button.active {
  pointer-events: none;
  background-color: #cccccc;
  color: #242424;
}

.tip-text {
  font-size: 13px;
  transform: rotate(-4deg);
}

/* .button-group button:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
} */

.year-label {
  fill: #ffffff;
  text-anchor: middle;
  font-size: 20px;
  pointer-events: none;
  stroke: #242424;
  paint-order: stroke;
  stroke-width: 3px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows of equal size */
  grid-template-columns: 1fr 1fr; /* Two columns of equal size */
  gap: 20px; /* Adjust the gap between rows and columns as needed */
  max-width: 800px;
  margin: auto;
}

.grid-child {
  background: #403939ff;
  padding: 3%;
  border-radius: 20px;
  border: 1px solid #ffffff70;
}

.grid-child-heading {
  padding: 3% 5%;
  border-radius: 14px;
  margin-bottom: 3%;
  font-size: 20px;
  text-align: left;
}

#rising-stars {
  border: 2px solid #ffc107;
}

#emerging-talent {
  border: 2px solid #9575cd;
}

#veterans {
  border: 2px solid #4caf50;
}

#slump-phase {
  border: 2px solid #ef5350;
}

@media screen and (max-width: 768px) {
  .year-label {
    font-size: 16px;
  }
  .intro-text {
    padding: 2%;
    font-size: 13px;
  }
  .grid-child-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    max-width: 320px;
  }
}
